.receipt-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.receipt-details {
    margin-bottom: 20px;
}

.receipt-items-list {
    list-style-type: none;
    padding: 0;
    text-align: center; 
}

.receipt-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.item-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    align-items: center; 
}

.item-name {
    font-weight: bold;
}

.item-quantity,
.item-price,
.item-total {
    margin-left: 10px;
}

.receipt-total {
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
    width: 100%; 
}

.receipt-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%; 
}


.receiptButton {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.receiptButton:hover {
    background-color: rgb(50, 50, 50);
}
