body {
    background-color: white; 
    margin: 0; 
    padding: 0; 
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #f9f9f9; 
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 
}

h1 {
    margin-bottom: 30px; 
    font-size: 3em;
    color: rgb(19, 19, 19); 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
    text-align: center; 
}

.video-container {
    max-width: 800px; 
    width: 100%; 
    border: 5px solid rgb(19, 19, 19); 
    border-radius: 15px; 
    overflow: hidden; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px; 
}

.video-container video {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}
