.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: flex-end; /* Aligns links to the right */
    align-items: center;
    padding: 0 20px; /* Adds padding on the sides */
}

.links {
    display: flex;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
}